body {
  font-family: 'Inter', sans-serif;
  background-color: #4e4e4e;
}

#credits{
  border: solid #78bd91;
  padding: 0.2%;
  border-radius: 10px;
  background-color: #d7dbdd;
  float: left;
  margin-right: 10%;
}

.navbar-brand,
.nav-link {
  color: #78bd91;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: bold;
}

h1 {
  color: #FFFFFF;
  border-color: black;
}

.descripition{
  color: #FFFFFF;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.card-group {
  display: flex;
  justify-content: space-between;
}

.card {
  font-size: large;
  width: 30%;
}

.btn-primary {
  color: #FFFFFF;
  border-radius: 10px;
  background-color: #4e4e4e;
}

.btn-primary:hover {
  background-color: #78bd91;
  border-color: #78bd91;
}

.btn-primary:active {
  background-color: #320E48;
  border-color: #320E48;
}