* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* font-style: italic;
    color: #320E48; */
body {
    font-family: 'Inter', sans-serif;
    color: #320E48;
    background-color: #8B8A8B;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #320E48;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #320E48;
}
